<header>
  <nav class="round">
    <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Logout", signout_path, :method => :delete %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Search", '#' %></li>
    </ul>
  </nav>
</header>
